In [37]:
#creating triangleb

print("|----/ "  )
print("|   /")
print("|  /")
print("| /")
print("|/")

|----/
|   /
|  /
| /
|/

In [2]:
print('giraffe\nsndfkjnshdf')

giraffe
sndfkjnshdf

In [3]:
print('giraffe\'lmfgdsmfg')

giraffe'lmfgdsmfg

In [4]:
a = 9
print(a)

9

## **Working with strings\\**

In [ ]:
pharase = 'pythonista'
pharase2 = 'SKFKLSF'
print(pharase.capitalize()) #capitalise firs character
print(pharase.upper())      #capitalise each character
print(pharase2.casefold())  #lowercase each character

print(pharase.isupper()) #check if it is upper
print(pharase.upper().isupper())  # just checking
print(pharase[0]) #first character of pharase
print(pharase[3]) #fourth character of pharase
print(pharase.index('p')) #return index of entered index
print(pharase.index('s')) #return index of entered index
print(pharase.replace('a', 'B')) #replacing first 'a' with 'B'

# **Working with Numbers**

In [ ]:
a = -5
print(2)
print(3+7)
print(-.2568)
print(20%3)  #mod of 3 out of 20 which is 2
print(str(a)+' şanlslı numaram')
print(abs(a)) #absolute value of a
print(pow(10,2)) # 10^2
print(max(5,a)) # maximum of a which is -5 and 5 so get 5 at the end
print(min(5,a))  # minumum of a which is -5 and 5 so get -5 at the end 
print(round(5.4))
print(round(5.7))
from math import *
print(floor(6.9)) # greatest integer but not greater than entered value
print(ceil(6.9))  #  smallest integer but greated than entered value
print(ceil(9.4))
print(floor(7.3))
print(sqrt(7.3))

# **getting input from users**

In [ ]:
input('enter anything: ')
input_in =  input('enter anything: ')
print( input('enter a name: ')  + ' ' + input(' enter a number: ') )

# Building a basic **calculator**

In [ ]:
num1 = int(input('enter a number: '))
num2 = int(input('enter another  number: '))
result = num1 + num2 
print(result)

num3 = float(input('enter a number: '))
num4 = float(input('enter another  number: '))
result2 = (num3) + (num4) 
print(result2)

# **Mad lib game**

In [ ]:
color = input('enter a color: ')
plural_noun = input('enter a plural noun: ')
celebrity = input('enter a celebrity: ')
print('roses are ' + color)
print(plural_noun+ ' are blue')
print('I love ' + celebrity)

In [ ]:
lst = [12, 56, 89, 999, 789]
print(lst[1])  # access 2nd item
print(lst.index(89))  # access entered item of index
print(lst[1:])

In [ ]:
number = [12, 36 , 98, 78, 45, 62] 
friends = ["ali", "kevin", "cüneyt", "barbara", "bella"]
number.extend(friends)
number
updated_number_list_diff = list(set(number).difference(set(friends)))
print(updated_number_list_diff)
friends.append('melisa')  #add at the end of list
print(friends)
friends.insert(1, 'miriam') 
print(friends)
friends.reverse() #The reverse() method reverses the sorting order of the elements # reversed do the same
print(friends)
print(list(reversed(friends)))  #The reversed() function returns a reversed iterator object.
friends.sort() #The sort() method sorts the list ascending by default.
print(friends)
x = friends.copy()  #The copy() method returns a copy of the specified list.
print(x)
friends.pop(3) #The pop() method removes the element at the specified position.
print(friends)
friends.remove('ali') #remove item of 'ali'
print(friends)
print(friends.count('kevin')) #return how mant times exist 'kevin' in a list
friends.clear() #The clear() method removes all the elements from a list.
print(friends)

In [ ]:
#tuples are immutable
tuple_1 = (1,2)
#  tuple_1[0]  = 5 gives error

# **function**

In [ ]:
def hello():
  print('hello idiot')
hello()

def hello():
  name = input('enter a name:')
  return ('hello ' +name)
hello()  

def func():
  name = input('enter a name: ')
  age = input('enter an age: ')
  print('hello' +" "+ name +" "+ age  )
func()

def cube(num):
  num*num*num
print(cube(9))  
def cube(num):
  return(num*num*num)
print(cube(9))

def square(num):
  print(num*num)
square(9)

# if **statement**

In [ ]:
is_male = True
if is_male:  # it is going to pass print value
  print('you fuck*d up')
else:
  print('what are you')  

is_female = False
if is_female: # it is going to pass print value 
  print('you are a gift of a god who created you at the end of seventh day')  

is_check= True
is_check2 = True
if is_check or is_check2:  # it is going to pass print value
  print('you are ok')
else:
  print('what are you')  



is_check3= False
is_check4 = False
if is_check3 and is_check4:
  print('both')
else:
  print('none of this')  



is_male = True
is_short = False

if is_male and is_short:
  print('u r not short male')
elif is_male and not is_short:
  print('u r short male')
elif  not is_male and is_short:
  print('u r tall female')
else: 
  print('neither male nor tall female ')

# **if statement and comparison**

In [3]:
def maxnum(num1, num2, num3):
  if num1 >= num2 and num1 >= num3 :
    return num1
  elif num2 >= num1 and num2 >=num3:
    return num2
  else:
    return num3
print(maxnum(100,101,102))

102

# **basic calculator**

In [ ]:
num1 = float(input('enter a number: '))
operator = input('enter an operator: ')
num2 = float(input('enter a number: '))

if operator == '+':
  print( num1+num2)
elif operator == '-':
  print(num1-num2)
elif  operator == '/':
  print(num1/num2)
elif operator == '*':
  print(num1*num2    )
else: 
  print('error: invalid operator')

# **Dictionary**

In [15]:
month = {
    'nov': 'november',
    'feb': 'february',
    'jan': 'january'

}

print(month)
print(month['feb'])
print(month.get('jan'))

{'nov': 'november', 'feb': 'february', 'jan': 'january'}
february
january

while loop

In [ ]:
i = 1
while i <=10:
  print(i)
  i = i+1
  i += 1
print('end of loop')

Guessing game

In [ ]:
secret_word = 'uptodate'
guess = ""sdfsgbsds
guess_count = 0
guess_limit = 5
out_of_guest = False
while secret_word != guess and not out_of_guest:
   if guess_count < guess_limit:
    guess= input('enter a guess: ')
    guess_count += 1
   else: 
      out_of_guest = True
if out_of_guest == True:
  print('you are out of line :(')
else:
  print('you predict very well bi*ch')

for loop

In [ ]:
lst = ['sdsdbgfjbs', 'nbajbdjbasfdb', 'sjdfhsdjkfh']

for i in range(len(lst)):
  print(lst[i])



for i in  range(len(lst)):
  if  i ==2:
    print('secondelement')
  else:
    print('ordinary element')    

# power of numbers
def power(num1, num2):
  result = 1
  for i in range(num2):    
    result = result * num1
  return result    
print(power(2,30))


#power of numbes
def ppow(num1, num2):
  return num1**num2
print(ppow(5,2))  

new_lst =[]
nestes_list = [[1, 2, 3, 4
               ] , [5,6,7,8], [9,10,11,12], [0] ]
for i in nestes_list:
  for j in i:
    new_lst.append(j)
new_lst.sort()
print(new_lst)

translator

In [ ]:
def translate(pharase):
  translation= ""
  for letter in pharase:
    if letter in "AEUÜIOÖaeuüioö":
      translation = translation + "g"
    else: 
      translation = translation + letter  
  return translation
print(translate(input("enter sth: ")) ) 


#second func

def trans(sth):
  lst = []
  a = "AEUÜIOÖaeuüioö"
  for i in sth:
    if i in a:
      sth =sth.replace( i,'g')
  return sth  
  
print(trans(input("enter sth: ")))

**try and except**

In [106]:
try:
  a = int(input("enter number: "))
  print(a)
except:
  print("invalid input")  



try: 
  c = 10/0 # if it its not removed it keep only division error constantly
  b  = int(input("enter number: "))
  print(b)
except ZeroDivisionError:
  print("division by zero")
except ValueError:
  print("invalid input")

enter number: 5
5
division by zero

Reading Files and writing files to be filled later

In [ ]:

open("New Text Document.txt", "r")  # read only
open("New Text Document.txt", "w")  #write only
open("New Text Document.txt", "r+") #read and write
open("New Text Document.txt", "a")  # append information to the file

***modules and pips to be continued..***

pycharm has its lib on the left so check out python .org see the source code there, other than that you can use other people modelus using cmd windows command prompt or alread installled at the windows

classes and **objects**

In [ ]:
#creating your data type bcs not every thing can be python data type cover real life examples

class Student:
  def __init__(self, name,age, major, gpa ):
    self.name=name
    self.age=age
    self.major=major
    self.gpa=gpa

student1=Student("melek", 31, "business", 3.30 )

student2=Student("melisa", 21, "elementary", 1.30 )

print(student1.name )
print(student1.gpa)
print(student2.age)
print(student2.major)


##if its a py module use: 'from module_name import  module_name'

quiz excercise

In [ ]:
class Question:
  def __init__(self, prompt, answer):
    self.prompt=prompt
    self.answer=answer


question_prompt = ["what color are seas?\n(a) red\n(b) blue\n(c) green\n\n",
"what color are bananas?\n(a) yellow\n(b) blue\n(c) green\n\n",
"what color is sun?\n(a) red\n(b) blue\n(c) yellow\n\n"]

questions =[ Question(question_prompt[0], "b"),
             Question(question_prompt[1], "a"),
             Question(question_prompt[2], "c") ]

def quiz(questions):
  score  = 0
  for question in questions:
    answer = input(question.prompt)
    if answer  == question.answer:
      score += 1
  print("you got " + str(score) + " out of " + str(len(questions)))    





x = type(questions)
y = type(question_prompt)
print(f" type_of_questions {x} type_of_question_prompt {y}" )

quiz(questions)


class Student:
  def __init__(self, gpa, name, major):
    self.gpa=gpa
    self.name=name
    self.major=major

  def honor_check(self):
    if self.gpa < 4.0:
      return False
    else:
      return True  


stu1 =Student(4.0, "sam", "econ")
stu2 = Student(3.0,'mero', "gemimakine")

print(stu1.honor_check())

inheritance

In [41]:
class Chef_foreign:
  def make_salad(self):
    print("xhef can make salad")
  def make_chicken(self):
    print("chef can make chicken")
  def make_kebap(self):
    print("chef can make kebap")

mychef = Chef_foreign()

mychef.make_salad()

#inherit from foreign chef
# you can either copy paste from upside code but it is drudgery and hard make if there are tons code

# OR YOU CAN INHERIT OF CHEF_FOREIGM FUNCTION 
class Turk_chef(Chef_foreign): ## inheritance is written by "Chef_foreign"
  def make_adana():
    print("can also make adana kebap")


my_chef_2 = Turk_chef() 

my_chef_2.make_chicken()  #it inherit from foreign chef

xhef can make salad
chef can make chicken